.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  max-width: 100%;
  height: 3.75rem;
  padding: 0 2.05rem;
  font-size: 1.06rem;
  font-family: var(--f-main-medium);
  color: var(--c-white);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 0.63rem;
  appearance: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  transition: all var(--transition);
  background: var(--c-primary);
  box-shadow: 0 1.25rem 2.19rem 0 rgba(241, 165, 1, 0.15);
}
.btn:hover {
  color: var(--c-white);
  background: var(--c-primary-darker);
}
.btn:active {
  background: var(--c-primary-darkest);
}

.btn--secondary {
  background: linear-gradient(to bottom, var(--c-salmon-light) 0%, var(--c-salmon) 100%);
  box-shadow: none;
}
.btn--secondary:hover {
  background: linear-gradient(to bottom, var(--c-salmon) 100%, var(--c-salmon) 100%);
}
.btn--secondary:active {
  background: linear-gradient(to bottom, var(--c-salmon-darker) 100%, var(--c-salmon-darker) 100%);
}


.btn--transparent {
  color: var(--c-gray-light);
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  box-shadow: none;
}
.btn--transparent:hover {
  color: var(--c-primary-darker);
  background: transparent;
}
.btn--transparent:active {
  background: var(--c-primary-darkest);
  background: transparent;
}

.btn--lg {
  height: 4.25rem;
  padding-left: 3.27rem;
  padding-right: 3.27rem;
}


.btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  appearance: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  transition: all var(--transition);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background: var(--c-secondary);
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
}

.btn-circle:hover,
.btn:hover .btn-circle {
  background: var(--c-secondary-darker);
}
.btn-circle:active,
.btn:active .btn-circle {
  background: var(--c-secondary-darkest);
}