@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Poppins-Regular.woff2") format("woff2"),
       url("../fonts/Poppins-Regular.woff") format("woff"),
       url("../fonts/Poppins-Regular.ttf") format("truetype"),
       url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Poppins-Medium.woff2") format("woff2"),
       url("../fonts/Poppins-Medium.woff") format("woff"),
       url("../fonts/Poppins-Medium.ttf") format("truetype"),
       url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Poppins-Bold.woff2") format("woff2"),
       url("../fonts/Poppins-Bold.woff") format("woff"),
       url("../fonts/Poppins-Bold.ttf") format("truetype"),
       url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
}

@font-face {
  font-family: "Volkhov-Bold";
  src: url("../fonts/Volkhov-Bold.eot");
  src: url("../fonts/Volkhov-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Volkhov-Bold.woff2") format("woff2"),
       url("../fonts/Volkhov-Bold.woff") format("woff"),
       url("../fonts/Volkhov-Bold.ttf") format("truetype"),
       url("../fonts/Volkhov-Bold.svg#Volkhov-Bold") format("svg");
}